@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea {
  color: $text-defaul;
  font: 600 18px Roboto, sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;

  padding: 0 1rem;
  margin: 0 auto;

  & main {
    margin-top: 8vh;
    height: 92vh;
  }
}

.anime-in {
  opacity: 0;
  transform: scale(0.8);
  animation: animeIn 0.3s forwards;
}

@keyframes anime-in {
  to {
    opacity: 1;
    transform: initial;
  }
}

.anime-left {
  opacity: 0;
  transform: translateX(-20px);
  animation: anime-left 0.3s forwards;
}

@keyframes anime-left {
  to {
    opacity: 1;
    transform: initial;
  }
}
