@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea {
  color: #333;
  font: 600 18px Roboto, sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
}

#app {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
