@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea {
  color: $text-defaul;
  font: 600 18px Roboto, sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;

  padding: 0 1rem;
  margin: 0 auto;

  & main {
    margin-top: 8vh;
    height: 92vh;
  }
}
