@import '../../../styles/mixins/global-elements-mixins.scss';

#account-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  position: relative;

  & h1 {
    @include titlePage();
  }
}
