@import '../../../styles/buttons-mixins.scss';

#login-form {
  display: flex;
  flex-direction: column;

  width: 50vw;
  & h1 {
    line-height: 1;
    font-size: 3rem;
    margin: 1rem 0;
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background: #fd1;
      position: absolute;
      bottom: 5px;
      left: -5px;
      border-radius: 0.2rem;
      z-index: -1;
    }
  }
  & form {
    margin-bottom: 2rem;
  }

  & .login-loss {
    display: inline-block;
    padding: 0.5rem 0;
    line-height: 1;
    text-align: center;

    &::after {
      content: '';
      height: 2px;
      width: 100%;
      display: block;
      background: currentColor;
    }
  }

  & .login-new {
    margin-top: 4rem;

    & h2 {
      line-height: 1;
      font-size: 2rem;

      &::after {
        content: '';
        display: block;
        background: rgba(175, 128, 238, 0.897);
        height: 0.5rem;
        width: 3rem;
        border-radius: 0.2rem;
      }
    }

    & p {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    & a {
      @include defaultButton();
    }
  }
}
