@import '../../../styles/mixins/global-login-mixin.scss';
@import '../../../styles/mixins/buttons-mixins.scss';

#login-form {
  @include globalLogin();

  & .login-loss {
    display: inline-block;
    padding: 0.5rem 0;
    line-height: 1;
    text-align: center;

    &::after {
      content: '';
      height: 2px;
      width: 100%;
      display: block;
      background: currentColor;
    }
  }

  & .login-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
    width: 22rem;

    & h2 {
      line-height: 1;
      font-size: 2rem;

      &::after {
        content: '';
        display: block;
        background: rgba(175, 128, 238, 0.897);
        height: 0.5rem;
        width: 3rem;
        border-radius: 0.2rem;
      }
    }

    & p {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    & a {
      @include defaultButton();
    }
  }
}
